@import "fonts"
@import "libs"
@import "vars"

.sort-blog
	padding: 13px 0
	border-bottom: 1px solid rgba(221, 221, 221, .87)
.sort__title
	float: left
	font-size: 19px
	line-height: 27px
	color: rgba(0,0,0,.87)
	margin-right: 30px
	padding: 5px 0px
.sort-blog__item
	display: inline-block
.sort-blog_list
	float: left
.sort-blog__link
	display: block
	padding: 9px 29px
	border-radius: 25px
	text-transform: uppercase
	text-decoration: none
	border: 1px solid transparent
	color: rgba(0,0,0,.87)
	border-radius: 35px
	margin-right: 15px
	font-size: 16px
	&:hover
		text-decoration: none
		border: 1px solid #3f51b5
	&:focus
		text-decoration: none
.sort-blog__item--active
	a
		border: 1px solid #3f51b5